@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
    transform: translate3d(10px, 0, 0);
  }
}
@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes scale {
  0%,
100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}
@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px #7ac142;
  }
}
@keyframes fill_err {
  100% {
    box-shadow: inset 0px 0px 0px 30px #E51A1A;
  }
}
@keyframes fill_war {
  100% {
    box-shadow: inset 0px 0px 0px 30px #FFD41F;
  }
}
.requerido {
  animation-name: shake;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  border: 1px solid #df1e1e !important;
}

body,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="submit"],
select,
textarea {
  font-family: "Questrial", sans-serif;
  font-size: 1.4rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  font-family: "Comfortaa", cursive;
}

h2 {
  font-size: 3rem;
  color: #00afa9;
  width: 90%;
}

.dataTables_wrapper {
  width: 90%;
}

table {
  width: 100%;
  font-size: 1.2rem;
}

table.dataTable.nowrap .child {
  white-space: normal;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
  top: 0;
  bottom: 0;
  margin: auto;
}

.loading {
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.loading .mensaje_loading {
  background-color: #ffffff;
  opacity: 0;
  position: relative;
  z-index: 2;
}

.loading::before {
  font-size: 1.6rem;
  color: #00afa9;
  content: "Please wait";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  text-align: center;
  height: 15px;
  width: 100%;
  opacity: 1;
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  z-index: -1;
}

.form {
  position: relative;
  background-color: #ffffff;
}

.checkmark__circle,
.checkmark__circle_err,
.checkmark__circle_warning {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke: #7ac142;
  fill: none;
  animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
  animation-iteration-count: 1;
}

.checkmark__circle_err {
  stroke: #E51A1A;
}

.checkmark__circle_warning {
  stroke: #FFD41F;
}

.checkmark,
.checkmark_err,
.checkmark_warning {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 2;
  stroke: #ffffff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px #7ac142;
  animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  animation-iteration-count: 1;
}

.checkmark_err {
  animation: fill_err 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  box-shadow: inset 0px 0px 0px #E51A1A;
}

.checkmark_warning {
  animation: fill_war 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
  box-shadow: inset 0px 0px 0px #FFD41F;
  fill: #ffffff;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
  animation-iteration-count: 1;
}

header {
  background-color: #00afa9;
  height: 10vh;
  position: fixed;
  top: 0;
  left: 0;
}
header h1 {
  color: #ffffff;
  font-size: 1.8rem;
  margin-left: 2vw;
}
header ul {
  margin-right: 2vw;
  color: #ffffff;
}
header ul li {
  font-family: "Comfortaa", cursive;
}
header ul li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2vw;
}

nav {
  height: 90vh;
  margin-top: 10vh;
  background-color: #292425;
  width: 15%;
}
nav ul {
  margin-top: 1vh;
}
nav ul li {
  width: 85%;
  margin: 0.2 vw 0;
}
nav ul li a {
  text-align: center;
  display: block;
  width: 100%;
  color: #ffffff;
  padding: 1vw 0;
  border: 1px solid #292425;
}
nav ul li a:hover {
  border-color: #ffffff;
}
nav ul li .activeScreen {
  color: #00afa9;
}

.wrapp {
  width: 85%;
  margin-top: 10vh;
}
.wrapp .screens {
  display: flex;
  height: 90vh;
  overflow-y: auto;
}

.flag {
  width: 20px;
  height: 20px;
}

.es,
.en {
  background-position: center center;
  background-size: 100%;
  font-size: 1px;
  margin: auto;
  display: block;
}

.es {
  background-image: url(../images/espana.svg);
}

.en {
  background-image: url(../images/usa.svg);
}

.export {
  width: 30px;
  margin-left: 10px;
}
.export img {
  width: 100%;
  height: auto;
}
